.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.currencies {
  display: flex;
  justify-content: center;
  flex: 6;

  @media screen and (max-width: 700px) {
    justify-content: flex-end;
  }

  @media screen and (max-width: 500px) {
    font-size: 12px;
    margin-left: 15px;
  }
}

.currency {
  margin-left: 40px;

  @media screen and (max-width: 700px) {
    font-size: 15px;
    margin-left: 20px;
  }
}

.amount {
  color: #4050B5;
}

.logo {
  cursor: pointer;
  
  @media screen and (max-width: 700px) {
    font-size: 15px;
  }
}